<div class="container mt-5">
  <h1>Tableau de bord</h1>
  <h1>Mes bateaux</h1>

  <div class="cards">
    <% @my_boats.each do |boat| %>
    <%= link_to boat_path(boat) do %>
      <div class="card-product scrollable">
      <div class="card-img">
          <% if boat.photo.attached? %>
            <%= cl_image_tag boat.photo.key, height: 300, width: 400, crop: :fill %>
            <% else %>
            <%= image_tag(boat.photo_url, class: "boat-img") %>
          <% end %>
        </div>
          <div class="card-infos">
           <h3><%= boat.title %></h3>
            <p>
              <% boat.bookings.each do |booking| %>
                <br><%= booking.pending? %>
                <%= booking.start_date %>
                <%= booking.end_date %>
                <%= User.find(booking.user_id).nickname %>
              <% end %>
            </p>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
 <%= console   %>
