
<div class="container mt-5">
  <h1>Tous les modèles disponibles :</h1>
  <%= form_with url: boats_path, method: :get, class: "d-flex my-4 " do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Cherchez un bateau par ville, catégorie ou nom"
    %>
    <%= submit_tag "Search", class: "btn btn-success" %>
  <% end %>
  <% if @boats.count == 0 %>
    <div class="s"> <strong>Rien ne correspond à votre recherche, veuillez essayer autre chose...</strong> </div>

   <% end %>
  <div class="cards">
    <% @boats.each do |boat| %>
    <%= link_to boat_path(boat) do%>
      <div class="card-product">
      <div class="card-img">
          <% if boat.photos.attached? %>
            <%= cl_image_tag boat.photos.first.key, height: 300, width: 400, crop: :fill %>
            <% else %>
            <%= image_tag("default_boat.jpg", width: 300, height: 400, crop: :fill) %>
          <% end %>
          </div>
            <div class="card-infos">
            <p>Annonce crée le <%= boat.created_at.strftime("%d/%m/%Y") %></p>
            <h3><%= boat.title %></h3>
            <p><i class="fa-solid fa-location-pin"></i> <%= boat.address %></p>
              <p><%= boat.price.to_i %> €/jour</p>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
