<div class="container mb-5 w-50 bg-test p-3 mt-5  ">
<h1 class="text-center">Créer votre annonce</h1>
  <%= simple_form_for @boat do |f| %>
  <%= f.error_notification %>

  <%= f.input :title, :label => "Titre de l'annonce"  %>

  <%= f.input :description, :label => "Description de l'annonce" %>

  <%= f.input :photos, as: :file, input_html: { multiple: true } %>

  <%= f.input :price, :label => "Prix de la location par jour" %>

  <%= f.input :category, collection: Boat::CATEGORY, :label => "Catégorie" %>

  <%= f.input :address, :label => "Localisation du bateau" %>

  <%= f.button :submit, "Création Bateau", class: "btn-create " %>
  <%= f.button :submit, "Annuler", class: "btn-cancel " %>
  <% end %>
</div>
