<div class=" container d-flex justify-content-center">
    <div class="left-column col-8 mt-5 mb-5">
    <% if @boat.photo.attached? %>
          <%= cl_image_tag @boat.photo.key, height: 600, width: 600, crop: :fill %>
          <% else %>
          <%= image_tag(@boat.photo_url, class: "boat-img") %>
    <% end %>
            <div class="show-infos">
              <h5><%= @boat.title %></h5>
              <p><%= @boat.description %></p>
              <p>Localisation : <%= @boat.address %></p>
              <p><%= @boat.price.to_i %> €/jour</p>
            </div>
            <% if policy(@boat).edit? %>
            <%= link_to "Modifier", edit_boat_path(@boat), class: "btn-edit" %>
            <%= link_to "Supprimer", boat_path(@boat), class: "btn-refuse", data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr ?"} %>
            <% end %>

    </div>
    <% if !policy(@boat).edit? %>
      <div class="right-column col-4 mt-5 mb-5">
        <div class="bookform">
          <h2>Faire une demande de réservation :</h2>
          <br>
          <%= simple_form_for [@boat, @booking], html: { data: { controller: "flatpicker" }} do |f| %>
          <input type="text" class="datepicker" data-action="">
          <%= f.input :start_date, as: :string, label: "Date de début :", input_html: { class: "datepicker" } %>
          <%= f.input :end_date, as: :string, label: "Date de fin :", input_html: { class: "datepicker" } %>
          <p>Total :</p>
          <%= f.button :submit, "Réserver" , class: "btn-booker"%>
          <% end %>
        </div>
      </div>
      <% end %>
</div>
