<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card" style="width: 40vw);">
        <img class="card-img-top" src="<%= @boat.photo_url %>"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= @boat.title %></h5>
          <p class="card-text"><%= @boat.description %></p>
          <p class="card-text"><%= @boat.address %></p>
          <p class="card-text"><%= @boat.price %></p>
          <a href="#" class="btn btn-primary">Louer</a>
        </div>
      </div>
    </div>
    <div class="col-4">
<h1>hello</h1>
    </div>


  </div>
</div>

</div>
</div>
