<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="card" style="width: 40vw);">
        <img class="card-img-top" src="<%= @boat.photo_url %>"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= @boat.title %></h5>
          <p class="card-text"><%= @boat.description %></p>
          <p class="card-text"><%= @boat.address %></p>
          <p class="card-text"><%= @boat.price %></p>
          <% if policy(@boat).edit? %>
          <%= link_to "Modifier", edit_boat_path(@boat) %>
          <%= link_to "Supprimer", boat_path(@boat), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr ?"} %>
          <% else %>
          <a href="#" class="btn btn-primary">Louer</a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
<%=  simple_form_for [@boat, @booking], html: { data: { controller: "flatpicker" }} do |f| %>
<%# <input type="text" class="datepicker" data-action=""> %>
  <%= f.input :start_date, as: :string, input_html: { class: "datepicker" } %>
  <%= f.input :end_date, as: :string, label: "fin de la reservation", input_html: { class: "datepicker" } %>
  <%= f.button :submit, "Réserver" , class: "btn-booker" %>


  <% end %>
    </div>


  </div>
</div>

</div>
</div>
